@use "../system";
$classPrefix: system.$classPrefix !default;
$variablePrefix: system.$variablePrefix !default;

$containers: (
  desktop: 1600px,
);

$container-paddings: (
  phone: 15px,
  portrait: 20px,
  landscape: 20px,
  desktop: 20px,
);

$breakpoints: (
  phone: 0,
  portrait: 768px,
  landscape: 1024px,
  desktop: 1280px,
);

$columns: (
  phone: 12,
  portrait: 12,
  landscape: 12,
  desktop: 12,
);
$column-default-span: 4;

$row-gaps: (
  phone: 10px,
  portrait: 15px,
  landscape: 20px,
  desktop: 20px,
);

$column-gaps: (
  phone: 10px,
  portrait: 15px,
  landscape: 20px,
  desktop: 20px,
);
