@use "variables";
@use "../system";

@function get-font-size($typo) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  $t: map-get(variables.$typography, $typo);
  @if map-has-key($t, font-size) {
    @return var(
      --#{system.$variablePrefix}area-typography-#{$typo}-font-size,
      var(
        --#{system.$variablePrefix}typography-#{$typo}-font-size,
        map-get($t, font-size)
      )
    );
  }
  @return var(
    --#{system.$variablePrefix}area-typography-#{$typo}-font-size,
    var(--#{system.$variablePrefix}typography-#{$typo}-font-size)
  );
}

@function set-font-size($typo, $value) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  @return "--#{system.$variablePrefix}typography-#{$typo}-font-size:" + $value;
}

@function get-line-height($typo) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  $t: map-get(variables.$typography, $typo);
  @if map-has-key($t, line-height) {
    @return var(
      --#{system.$variablePrefix}area-typography-#{$typo}-line-height,
      var(
        --#{system.$variablePrefix}typography-#{$typo}-line-height,
        map-get($t, line-height)
      )
    );
  }
  @return var(
    --#{system.$variablePrefix}area-typography-#{$typo}-line-height,
    var(--#{system.$variablePrefix}typography-#{$typo}-line-height)
  );
}

@function set-line-height($typo, $value) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  @return "--#{system.$variablePrefix}typography-#{$typo}-line-height:" + $value;
}

@function get-margin-top($typo) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  $t: map-get(variables.$typography, $typo);
  @if map-has-key($t, margin-top) {
    @return var(
      --#{system.$variablePrefix}area-typography-#{$typo}-margin-top,
      var(
        --#{system.$variablePrefix}typography-#{$typo}-margin-top,
        map-get($t, margin-top)
      )
    );
  }
  @return var(
    --#{system.$variablePrefix}area-typography-#{$typo}-margin-top,
    var(--#{system.$variablePrefix}typography-#{$typo}-margin-top)
  );
}

@function set-margin-top($typo, $value) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  @return "--#{system.$variablePrefix}typography-#{$typo}-margin-top:" + $value;
}

@function get-margin-bottom($typo) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  $t: map-get(variables.$typography, $typo);
  @if map-has-key($t, margin-bottom) {
    @return var(
      --#{system.$variablePrefix}area-typography-#{$typo}-margin-bottom,
      var(
        --#{system.$variablePrefix}typography-#{$typo}-margin-bottom,
        map-get($t, margin-bottom)
      )
    );
  }
  @return var(
    --#{system.$variablePrefix}area-typography-#{$typo}-margin-bottom,
    var(--#{system.$variablePrefix}typography-#{$typo}-margin-bottom)
  );
}

@function set-margin-bottom($typo, $value) {
  @if not map-has-key(variables.$typography, $typo) {
    @error "Invalid typo for typography specified! Choose one of #{map-keys(variables.$typography)}";
  }
  @return "--#{system.$variablePrefix}typography-#{$typo}-margin-bottom:" +
    $value;
}
